<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Identification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>NOM: IKANGAMINO</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>POST-NOM: KISAMBA</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Age: 28</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Adresse: Goma/RDC</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Niveau: MASTER1/ISOC</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Matricule: CM-UDS-22SCI 1808</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Université: DSCHANG</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
